<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>shareTiqu</title>
    <script src="../js/mui.min.js"></script>
    <script src="../js/common.js"></script>
    <script src="../js/share.js"></script>
    <link href="../css/mui.min.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="../css/global.css"/>
    <link rel="stylesheet" type="text/css" href="../css/app.css"/>
    <style type="text/css">
    	body{
    		height: 100%;
    		width: 100%;
    	}
    	html{
    		height: 100%;
    		width: 100%;
    	}
    </style>
</head>
<body>
	<div class="shareBox">
		<ul class="clearfix">
	    	<li id="wxFriendsCircle" class="left"><a href="#"><img src="../images/share_1.png" alt="" /><span>朋友圈</span></a></li>
	    	<li id="wxFrifend" class="left"><a href="#"><img src="../images/share_2.png" alt="" /><span>微信</span></a></li>
	    	<li id="xinlangWb" class="left"><a href="#"><img src="../images/share_3.png" alt="" /><span>微博</span></a></li>
	    	<li id="qqFriends" class="left"><a href="#"><img src="../images/share_4.png" alt="" /><span>QQ</span></a></li>
	    	<!--<li class="left"><a href="#"><img src="../images/share_5.png" alt="" /><span>QQ空间</span></a></li>-->
	    </ul>
	    <a href="#" id="cancelShare" class="cancelShare" onclick="back()"><span style="font-size:16px;">取消分享</span></a>
	</div>
</body>
<script type="text/javascript">   
	mui.init();
	var Intent = null,
			File = null,
			Uri = null,
			main = null;
	var shares = null;		
	function plusReady(){
		updateSerivces();
		var oWxFrifend=document.getElementById("wxFrifend");
		var oWxFriendsCircle = document.getElementById("wxFriendsCircle");
		var oXinlangWb = document.getElementById("xinlangWb");
		var oQqFriends = document.getElementById("qqFriends");
        ws=plus.webview.currentWebview();
	    if(plus.os.name=="Android"){
			main = plus.android.runtimeMainActivity();
			Intent = plus.android.importClass("android.content.Intent");
			File = plus.android.importClass("java.io.File");
			Uri = plus.android.importClass("android.net.Uri");
		}
    	oWxFriendsCircle.addEventListener('tap',function(){
			shareAction("weixin","WXSceneTimeline","../img/share/shareBig-3.jpg","公积金APP在手,公积金提取业务无忧办理！","快来动动手指,抢鲜体验电子公积金提取业务吧！在这里,我们可以给您最快捷的办事效率,最方便的办理流程，最安全的资金保障！！！","http://www.zfgjj.cn/tjgjjcms/subSiteApp/content/ywzn/dzywznwei/dzywznwei/305186.html");
		});
		oWxFrifend.addEventListener('tap',function(){
			shareAction("weixin","WXSceneSession","../img/share/shareBig-3.jpg","公积金APP在手,公积金提取业务无忧办理！","快来动动手指,抢鲜体验电子公积金提取业务吧！在这里,我们可以给您最快捷的办事效率,最方便的办理流程，最安全的资金保障！！！","http://www.zfgjj.cn/tjgjjcms/subSiteApp/content/ywzn/dzywznwei/dzywznwei/305186.html");
		});
		oXinlangWb.addEventListener('tap',function(){
			shareAction("sinaweibo","","../img/share/shareBig-3.jpg","公积金APP在手,公积金提取业务无忧办理！","快来动动手指,抢鲜体验电子公积金提取业务吧！在这里,我们可以给您最快捷的办事效率,最方便的办理流程，最安全的资金保障！！！","http://www.tigjj.cn/tjgjjcms/subSiteApp/content/ywzn/dzywznwei/dzywznwei/305186.html");
		});
		oQqFriends.addEventListener('tap',function(){
			shareAction("qq","","../img/share/shareBig-3.jpg","公积金APP在手,公积金提取业务无忧办理！","快来动动手指,抢鲜体验电子公积金提取业务吧！在这里,我们可以给您最快捷的办事效率,最方便的办理流程，最安全的资金保障！！！","http://www.zfgjj.cn/tjgjjcms/subSiteApp/content/ywzn/dzywznwei/dzywznwei/305186.html");
		});
	}	
	if(window.plus){
		plusReady();
	}else{
		document.addEventListener('plusready',plusReady,false);
	}
</script>
</html>