<!DOCTYPE HTML>
<html style="height: 100%;">
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
		<meta name="HandheldFriendly" content="true"/>
		<meta name="MobileOptimized" content="320"/>
		<title>外部链接套壳</title>
		<link href="../css/mui.min.css" rel="stylesheet"/>
        <link href="../css/menu.css" rel="stylesheet"/> 
		<script type="text/javascript" src="../js/common.js"></script>
		<script src="../js/mui.min.js"></script>
		<script type="text/javascript" charset="utf-8">
var ws=null,embed=null;
// 扩展API加载完毕，现在可以正常调用扩展API 
function plusReady(){   
	/*alert(document.getElementById("iframe").style.height)*/
	document.getElementById("iframe").style.height = (window.innerHeight - 50) + 'px'; 
	ws=plus.webview.currentWebview();
	ws.setStyle({scrollIndicator:'none'});
	document.getElementById("title").innerHTML = plus.webview.currentWebview().title;
	document.getElementById("iframe").src = plus.webview.currentWebview().url;
}
// 判断扩展API是否准备，否则监听"plusready"事件
if(window.plus){
	plusReady();
}else{
	document.addEventListener("plusready",plusReady,false);
}
// 页面加载后自动打开
document.addEventListener("DOMContentLoaded",function(){
	if(embed){
		openUrl();
	}else{
		auto=true;
	}
},false); 
	function dnf(){
        if (window.frames['iframe'].dhcRollBack() == 0){
			mui.back();
		}
		else {
			window.frames['iframe'].dhcBack();
		}	
	}
	mui.back = dnf();
	</script>
	</head>
	<body id="body">  
		<header class="mui-bar mui-bar-nav">
			<div class="nvbt iback" onclick="back(),plus.nativeUI.closeWaiting();"></div> 
            <h1 id="title" class="mui-title"></h1>
           <!-- <a class="mui-action-back mui-icon mui-icon-home mui-pull-left" style="color: #FFFFFF;"></a> -->
            <a class="mui-icon mui-icon-left-nav mui-pull-left" style="color: #FFFFFF;" onclick="dnf();"></a> 
		</header>
		<iframe id="iframe" name="iframe" style="margin-top: 44px; width: 100%; border: none;"></iframe>
	</body>
	<script type="text/javascript" src="../js/immersed.js" ></script>
</html>