<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
		<meta name="HandheldFriendly" content="true"/>
		<meta name="MobileOptimized" content="320"/>
		<title>公告</title>
		<link href="../css/mui.min.css" rel="stylesheet"/>
        <link href="../css/menu.css" rel="stylesheet"/> 
		<script type="text/javascript" src="../js/common.js"></script>
		<script src="../js/mui.min.js"></script>
		<script type="text/javascript" charset="utf-8">
var ws=null,embed=null;
// 扩展API加载完毕，现在可以正常调用扩展API 
function plusReady(){
	ws=plus.webview.currentWebview();
	createEmbed();
	ws.addEventListener('show');
}
// 判断扩展API是否准备，否则监听"plusready"事件
if(window.plus){
	plusReady();
}else{
	document.addEventListener("plusready",plusReady,false);
}
// 创建子Webview
function createEmbed(){
	var topoffset='45px'; 
	embed=plus.webview.create(ws.url,'embed',{top:topoffset,bottom:'0px',position:'dock',dock:'bottom',bounce:'vertical'});
	ws.append(embed);
	embed.addEventListener('loaded',function(){
		plus.nativeUI.closeWaiting();  
	},false);
}
// 页面加载后自动打开
document.addEventListener("DOMContentLoaded",function(){
	if(embed){
		openUrl();
	}else{
		auto=true;
	}
},false);
	</script>
	</head>
	<body>
		<header class="mui-bar mui-bar-nav">
			<div class="nvbt iback" onclick="back(),plus.nativeUI.closeWaiting();"></div>
            <h1 id="title" class="mui-title"></h1>
            <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left" style="color: #FFFFFF;"></a> 
		</header>
	</body>
	<script type="text/javascript" src="../js/immersed.js" ></script>
</html>